<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css">
        <title>To Do List</title>
    </head>
    <body>
        <div id="vueApp">
        
            <h1 class="title">To Do List</h1>
            <h3 class="heads">Write Item To add in text box below!</h3 >
            <input class="boxinput" v-model="newItem" v-on:keyup.enter='AddingItem'/>
            <div class="button">
                <button @click.pervent="AddingItem">Adding</button>
            </div>
            <h4 class="heads"> List of things to do!</h4>
            <div class="items" v-for="(listItem, index) in list" v-bind:key="list.id">
                
                    <div class="">
                    {{listItem.item}}
                    </div>

                    <div>
                    <ul>
                        <input type="checkbox" v-model="listItem.checked" @click="Completed">
                        <label v-if="listItem.checked == true"> Completed!</label>
                        <label v-else='listItem.checked == false'>Not Completed!</label>
                        
                    </ul>
                    </div>

                    <div class="remove-item" @click="removeItem(index)">
                        &times;
                    </div>
                
            </div>
        </div>


        <script src="js/vue.min.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
